.tile {
    display: inline-flex;
    background-color: green;
}

.grass {
    background-color: green;
}

.rock {
    background-image: url('../../../../Sprite/tiles/rock.png');
}

.tree {
    background-image: url('../../../../Sprite/tiles/tree.png');
}

.chest {
    background-image: url('../../../../Sprite/tiles/chest.png');
}